body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 25px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  position: sticky;
  top: 0;
  z-index:1000;
  height: 1%;

}

.logo {
  color: #FF7043;
  margin: 0;
  margin-left: 20px;
  font-size: 34px;

}

.right {
    display: flex;
    align-items: center;
    gap: 25px;
}

.profile-icon {
    width: 45px;
    height: 45px;
    background-color: #FF7043;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 4px 10px rgba(255, 112, 67, 0.3);
}

.profile-icon:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 15px rgba(255, 112, 67, 0.4);
}

.cart svg,
.profile-icon svg {
    width: 28px;
    height: 28px;
}





/* -------- Hero Section -------- */
.image{
  width:80px;
  height:70px;
  object-fit:cover;
  border-radius:15px;
}
.hero {
  padding:0;
}

.hero-content {
  background-color: #a7a39a;
  background:
  radial-gradient(
    circle at center,
    rgba(255,255,255,0.05) 0%,
    rgba(0,0,0,0.18) 100%
  ),
  #a7a39a;
  height: 300px;
  padding: 20px;
  /* border-radius: 15px; */
}

.hero-title {
  margin: 0;
  font-size: 52px;
  color:white;
  font-weight: normal;
}

.hero-subtitle {
  margin: 5px 0 15px;
  color: #555;
}

.hero-info {
  display: flex;
  align-items: center;
  gap: 15px;
  /* margin-bottom: 100px; */
}


.rating {
  font-weight: bold;
  height: 30px;
  width: 90px;
  border-radius: 18px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 45%;

}

.open-btn {
  padding: 6px 14px;
  border: none;
  background-color: #2ecc71;
  color: white;
  border-radius: 20px;
  cursor: pointer;
  height: 50%;
  font-size: 1.5rem;
  /* margin-bottom: 45%; */
  
}
.open-btn:hover {
  background-color: #27ae60;
}