body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
}

.main-container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.left-section {
    width: 75%;
    background-color: #ffffff;
    padding: 40px;
}

.right-section {
    width: 25%;
    background: url("./image.jpg") no-repeat right center;
    background-size: cover;
}

.switch-container {
    width: 600px;
    background: #f2f3f5;
    padding: 5px;
    border-radius:40px;
    display: flex;
    justify-content: space-between;
    margin-left:-10px;
}

.tab {
    flex: 1;
    padding: 12px 0;
    border: none;
    background: transparent;
    color: #6d6d6d;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.tab.active {
    background: #FF7043;
    color: white;
}
.left-section h2{
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 15px;
}

