*{
    font-family: poppins, sans-serif, arial;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f2f2f2;
}

.main-container {
    width: 100%;
    height: 100vh;
    display: flex;
}

.left-section {
    width: 60%;
    background-color: #ffffff;
    padding: 40px;
}

.right-section {
    width:40%;
    background:
    url("https://res.cloudinary.com/dvpz1tzam/image/upload/v1764335300/WhatsApp_Image_2025-11-28_at_18.38.04_b0a6dc94_ammzkp.jpg");;
    background-size: cover;
    background-position: center;
        filter: brightness(1.1) contrast(1.32) saturate(1.5);
}
.right-box::after {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.48);
    backdrop-filter: brightness(0.9);
}

.switch-container {
    width: 550px;
    background: #f2f3f5;
    padding: 3px;
    border-radius:40px;
    display: flex;
    justify-content: space-between;
    margin-left:-10px;
}

.tab {
    flex: 1;
    padding: 12px 0;
    border: none;
    background: transparent;
    color: #6d6d6d;
    border-radius: 40px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.tab.active {
    background: #FF7043;
    color: white;
}
.left-section h2{
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 15px;
}
.input-sec{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 25px;
 
}
#email,#password{
    margin-bottom: 0px;
    width: 60%;
    height: 40px;
    border-radius: 8px;
    border: 1px solid #ccc;
    padding: 0 15px;
    font-size: 16px;
}
label {
    font-size: 18px;
    color: #333;
    font-weight: 500;
}
input {
    margin-top: 8px;
}
button {
    width: 70%;
    height: 45px;
    border-radius: 22px;
    background: #FF7043;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
    transition: 0.25s ease;

}
.forgot-password{
    margin-left:31%;
    margin-top:-50px;
    cursor: pointer;
}
.forgot-password a{
    text-decoration: none;
    color: #FF7043;
}
.clock {
    position: absolute;
    top:31%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 80px; /* increase size */
}
.clock svg {
    width: 100%;
    height: 100%;
}
.ready{
    position: absolute;
    top: 40%;
    left: 35%;
    color: white;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 20px;
}

.desc {
    position: absolute;
    top: 55%;
    left: 35%;
    color: white;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 500;
}


