.navbar {
  height: 72px;
  padding: 0 24px;
  background: #fffdf9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-circle {
  width: 44px;
  height: 44px;
  background: linear-gradient(135deg, #FF7043, #ff9f6e);
  border-radius: 38%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.brand-name {
  font-size: 20px;
  font-weight: 600;
  color: #1f2937;
}

.profile-circle {
  width: 44px;
  height: 44px;
  background: linear-gradient(360deg, #FF7043, #ffce6a);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: white;
}
.main1{
   width: 100%;
   background-color: white;
}
.main-white{
    position: relative;
    margin: 0;
    padding: 0;
    height: 500px;
    width: 100vw;
    /* border: 0px solid rgb(255, 255, 255); */
    border-radius: 0px 0px 106px 106px;
    filter: blur(2px);
    margin-left: auto;
    margin-right: auto;
    transform: translateX(0%);
}
.main-white img{
    margin: 0;
    padding: 0;
    height: 650px;
    width:100%;
    filter: blur(2.5px);
  border: .2px solid rgb(0, 0, 1);
    border-radius: 0px 0px 100px 100px;
    z-index: 1;

}
.back-btn{
    position: absolute;
    top: 15%;
    left: 5%;
}
.h1order-confirmed{
  height: 80px;
  width: 500px;
  /* border: 2px solid black; */
  border-radius: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size:45px;
background: linear-gradient(135deg, #eb9f2dd0, #E98B3A);
  position: absolute;
  top: 13%;
  left: 47%;
  transform: translateX(-50%);
}
.ordered{
  position: absolute;
  top: 117%;
  left: 50%;
  height: 400px;
  width: 1112px;
  /* border: 2px solid black; */
  border-radius: 30px;
  z-index: 2;
  background-color: #FFF8F0;
    transform: translateX(-50%);
}
.para-order{
  font-size: xx-large;
  margin-left: 25px;
  font-weight: bold;
}
.cards{
  display: flex;
  /* justify-content:center; */
  align-items: center;
  gap:30px;
  flex-direction: column;
}
.dish-card{
  display: flex;
  align-items: center;
  /* justify-content: space-around; */
  gap: 20px;
  height: 170px;
  width: 950px; 
  border-radius: 24px;
  /* border: 2px solid black; */
  background-color: white;
  /* padding: 24px; */
  margin-right: 10px;

} 
.dish-card img{
  height: 110px;
  width: 110px;
  object-fit: cover;
  margin-left: 20px;
  /* margin-top: 26px; */
  border-radius: 24px;
}
.texts{
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.dishname{
  display: flex;
  gap:7px;
  margin-left: 20px;
  /* margin-top: 20px; */
  margin-bottom: 0px;
  font-size: large;

  font-weight: bold;

}
.catagory{
  margin-left: 20px;
  margin-bottom: 55px;
  margin-top: 10px;
  font-size: 15px;
  color: gray;
}
.amt{
  height: 37px;
  width: 100px;
  /* border: 2px solid black; */
  border-radius: 70px;
  background-color: #FFF8F0;
  color: #f76032;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 45%;
  font-weight: bolder;
}
