.navbar {
  height: 72px;
  padding: 0 24px;
  background: #fffdf9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo-circle {
  width: 44px;
  height: 44px;
  background: linear-gradient(135deg, #FF7043, #ff9f6e);
  border-radius: 38%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.brand-name {
  font-size: 20px;
  font-weight: 600;
  color: #1f2937;
}

.profile-circle {
  width: 44px;
  height: 44px;
  background: linear-gradient(360deg, #FF7043, #ffce6a);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: white;
}
.main-white{
    position: relative;
    margin: 0;
    padding: 0;
    height: 500px;
    width: 100vw;
    /* border: 0px solid rgb(255, 255, 255); */
    border-radius: 0px 0px 106px 106px;
    filter: blur(2px);
}
.main-white img{
    margin: 0;
    padding: 0;
    height: 650px;
    width:100vw;
    filter: blur(2.5px);
  border: .2px solid rgb(0, 0, 1);
    border-radius: 0px 0px 100px 100px;
    z-index: 1;

}
.back-btn{
    position: absolute;
    top: 15%;
    left: 5%;
}
h1{
  height: 88px;
  width: 500px;
  /* border: 2px solid black; */
  border-radius: 28px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size:45px;
  background: linear-gradient(90deg,#ff5622f2,#ff5622d6);
  position: absolute;
  top: 10%;
  left: 31%;
}
.ordered{
  position: absolute;
  top: 80%;
  left: 11.5%;
  height: 400px;
  width: 1112px;
  /* border: 2px solid black; */
  border-radius: 30px;
  z-index: 2;
  background-color: #FFF8F0;
}
.para{
  font-size: xx-large;
}
.cards{
  display: flex;
  justify-content: center;
  align-items: center;
}
.dish-card{
  height: 170px;
  width: 950px;
  border-radius: 24px;
  /* border: 2px solid black; */
  background-color: white;
  padding: 24px 24px 24px opx;
} 
.dish-card img{
  height: 110px;
  width: 110px;
  object-fit: cover;
  margin-left: 20px;
  margin-top: 26px;
  border-radius: 24px;
}
.dishname{
  margin-left: 20px;
  margin-top: 26px;
}