@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
.topup-page {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(#FEEDD3, #FFE0B3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.topup-title {
  font-size: 63px;
  font-weight: 800;
  color: #FF7043;
  margin-bottom: 30px;
  line-height: 71px;
  letter-spacing: 1px;
  margin-bottom: 40px;
}

.balance-card {
  width: 456px;
  height: 168px;
  background: #FF7043;
  color: #FFE0B2;
  padding: 30px 80px;
  border-radius: 84px;
  text-align: center;
  margin-bottom: 40px;
  font-weight: bold;
  font-size: 20px;
  
}

.balance-card h2 {
  font-size: 64px;
  margin-top: 14px;
  font-family: 'Plaster',cursive;
  line-height: 54px;
  letter-spacing: -6px;
  font-weight: 400;
  font-size: 73px;
}

.topup-row {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
}

.addw{
    text-align: center;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 12px;
  font-family: 'Poppins', sans-serif;
}
.quick-add{
    width : 420px;
  height: 140px;
  background: #ff7043;
  padding: 20px;
  border-radius: 999px;
  color:#FFE0B2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.custom-amount {
  width : 346px;
  height: 108px;
  background: #ff7043;
  padding: 10px;
  border-radius: 84px;
  color:#FFE0B2;

}

.amount-buttons {
  display: flex;
  gap: 15px;
  font-family: 'Plaster',cursive;
  margin-top: 3px;
}

.amount-buttons button {
  flex: 1;
  height: 64px;

  background: #fff6e8;
  color: #ff7043;

  border: none;
  border-radius: 999px;   /* 🔥 ROUND PILL */
  font-family: 'Plaster', cursive;
  font-size: 32px;
  font-weight: 400;

  cursor: pointer;
}
.amount-buttons button:hover {
  background: #ff7043;
  color: #fff6e8;
}

.custom-amount input {
  width: 220px;
  font-size: 26px;
  padding: 12px;
  border-radius: 25px;
  border: none;
  text-align: center;
}

.pay-btn {
  background: #ff7043;
  color: #fff6e8;
  border: none;
  padding: 25px 80px;
  font-size: 48px;
  border-radius: 80px;
  font-weight: 900;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 20px;
}